.mat-card {
  width: 300px;
  margin: 2rem auto;
}
.mat-card-content {
  width: 300px;
  height: 138px;
  margin: 50px 0;
  font-size: 120px;
}
.mat-card-title, .mat-card-content, .mat-card-actions {
  text-align: center;
}